:root {
  --color-primary: #0a6f74;
  --color-secondary: #db5028;
  --color-accent: #fbbc09;
  --color-headings: #00586e;
  --color-body: #2e282a;
  --color-body-light: #f0efea;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 1.8rem;
}

h1 {
  font-size: 2.4rem;
  margin: 0 0 2.4rem 0;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 2.4rem;
  }

  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  font-size: 2.4rem;
}

.subtitle {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-primary);
  text-transform: uppercase;
}

.subtitle--lowercase {
  text-transform: none;
  color: var(--color-body);
  margin-bottom: 6rem;
}

.small-text {
  font-size: 1.8rem;
}

/* Buttons */

.btn {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1.5rem 6rem;
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  color: var(--color-body);
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 7px;
}

.btn-plan {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-body);
  text-decoration: none;
  letter-spacing: 1px;
  border: 2px solid var(--color-body);
  background-color: transparent;
  padding: 1.6rem 0;
  text-align: center;
  width: 80%;
  border-radius: 7px;
}

.btn:hover {
  border: 2px solid var(--color-secondary);
  background-color: var(--color-secondary);
  color: var(--color-body-light);
}

.btn--block {
  display: inline-block;
  width: 100%;
}

.btn-plan:hover {
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
}

/* Icons */

.icon-social {
  height: 32px;
  width: 32px;
  margin-right: 20px;
}

.icon-company {
  width: 100%;
  max-width: 130px;
  height: 100%;
  max-height: 32px;
}

/* Navigation */
.nav {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.8rem 2rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.list {
  list-style: none;
  padding: 0;
}

.nav__list {
  width: 100%;
  margin: 0;
  align-items: center;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222222;
}

.nav__item > a {
  color: var(--color-body-light);
  text-decoration: none;
}

.nav__item > a:hover {
  color: var(--color-accent);
  text-decoration: none;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__item {
    border-bottom: none;
  }

  .nav__item + .nav__item {
    margin-left: 2rem;
  }

  .nav__list {
    width: auto;
    display: flex;
    max-height: 100%;
    opacity: 1;
  }
}

/* Cards */

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: var(--color-body-light);
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: var(--color-body-light);
}

/* Plans */

.plan {
  position: relative;
}

.plan__name {
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0;
}

.plan__price {
  font-size: 3.6rem;
}

.plan__billing-cycle {
  font-weight: bold;
}

.plan__short-description {
  margin: 0 0 1.6rem 0;
}

.plan__feature {
  margin: 2rem 0;
  font-size: 1.8rem;
}

.plan__popular-badge {
  padding: 1.2rem 0.7rem;
  background-color: var(--color-accent);
  color: var(--color-body);
  text-transform: uppercase;
  border-top-right-radius: 6px;
  position: absolute;
  width: 150px;
  top: 0;
  right: 0;
}

.plan__popular-badge-text {
  font-size: 1.6rem;
  margin: 0;
  text-align: center;
}

/* Profiles */

.profile {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 7px;
}

@media screen and (min-width: 500px) {
  .profile {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 7px;
  }
}

@media screen and (min-width: 768px) {
  .profile {
    width: 280px;
    height: 200px;
    position: relative;
    border-radius: 7px;
  }
}
.background--primary {
  background-color: var(--color-primary);
}

.background--secondary {
  background-color: var(--color-secondary);
}

.background--light {
  background-color: var(--color-body-light);
}

.profile__image {
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: 0;
}

.profile__image--large {
  position: absolute;
  width: 250px;
  height: 250px;
  bottom: 0;
}

.profile--large {
  width: 250px;
  height: 200px;
  position: relative;
  border-radius: 7px;
}

@media screen and (min-width: 500px) {
  .profile__image {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 7px;
  }
}

@media screen and (min-width: 768px) {
  .profile__image {
    position: absolute;
    width: 280px;
    height: 280px;
    bottom: 0;
  }
  .profile__image--large {
    position: absolute;
    width: 368px;
    height: 368px;
    bottom: 0;
  }

  .profile--large {
    width: 368px;
    height: 250px;
    position: relative;
    border-radius: 7px;
  }
}

/* Grids */

.grid {
  display: grid;
  row-gap: 3rem;
}

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 8rem;
  }

  .reverse {
    order: 2;
  }
}

/* Container */

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 399px) {
  .container {
    width: 85%;
  }
}

@media screen and (max-width: 370px) {
  .container {
    width: 87%;
  }
}
.row {
  display: flex;
  padding: 1.4rem 0;
}
/* Hero */

.hero {
  background-color: var(--color-body-light);
  margin: 10rem 0 0 0; 
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 18rem 0;
  }
}

.hero__content {
  padding: 6rem 0;
}

.profile {
  margin-bottom: 4rem;
}

.hero__images {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .hero__content {
    padding: 12rem 0;
  }

  .hero__images {
    position: relative;
  }

  .profile {
    position: absolute;
    bottom: 0;
  }

  .top {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.message__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message {
  width: 150px;
  height: 50px;
  padding: 1.2rem;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  bottom: -30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.message--none {
  display: none;
}
@media screen and (min-width: 768px) {
  .message {
    right: -40%;
  }
}
.message__text {
  font-size: 1rem;
  margin: 0;
}

.message__image {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .message {
    width: 250px;
    height: 80px;
  }

  .message__text {
    font-size: 1.4rem;
    margin: 0;
  }

  .message__image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .message--none {
    display: block;
  }
}

.kickoff {
  width: 250px;
  height: auto;
  padding: 1.6rem;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 40px;
  left: -60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.kickoff__button {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.8rem;
  background-color: transparent;
  border: 1px solid var(--color-body);
  border-radius: 20px;
  color: var(--color-body);
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
  max-width: 250px;
}

.kickoff__text {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
}

.monthly-insights {
  width: 250px;
  height: auto;
  padding: 1.6rem;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: -50px;
  right: -10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.monthly-insights__header {
  display: flex;
  align-items: center;
}

.monthly-insights__heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.orange-circle {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: var(--color-secondary);
  margin-right: 1rem;
}

.green-line {
  width: 200px;
  height: 1px;
  border-bottom: 5px solid rgba(10, 111, 116, 0.3);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.green-line--small {
  width: 160px;
}
/* Social Proof Bar */

.social-proof {
  padding: 5rem 0;
}

.grid--cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
}

@media screen and (min-width: 1000px) {
  .grid--cols-3 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: auto;
  }
}

.features__heading {
  margin: 1rem 0 1rem 0;
  font-weight: 400;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.4;
}

@media screen and (min-width: 365px) {
  .features__heading {
    margin: 1rem 0 1rem 0;
    font-weight: 400;
    text-align: center;
    font-size: 2rem;
    line-height: 1.4;
  }
}

@media screen and (min-width: 510px) {
  .features__heading {
    margin: 1rem 0 1rem 0;
    font-weight: 400;
    text-align: center;
    font-size: 2.8rem;
    line-height: 1.4;
  }
}
@media screen and (min-width: 768px) {
  .features__heading {
    margin: 7rem 0 4rem 0;
    font-size: 3.6rem;
    line-height: 1.4;
  }
}

.features__image {
  max-width: 400px;
  height: auto;
  border-radius: 7px;
}

@media screen and (max-width: 450px) {
  .features__image--small {
    max-width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .message-feature {
    display: none;
  }

  .kickoff {
    display: none;
  }

  .monthly-insights {
    display: none;
  }
}

.content-wrap {
  display: flex;
  align-items: center;
}

.features__image-wrap {
  position: relative;
  align-items: right;
}

.features__image-wrap .message {
  position: absolute;
  right: 0;
  top: -10px;
}

/* Features */

article {
  padding: 5rem 0;
}

@media screen and (min-width: 768px) {
  article {
    padding: 10rem 0;
  }
}

/* Testimonial */

.testimonial {
  padding: 15rem 0;
  background-color: var(--color-headings);
}

.testimonial__description {
  color: #c4c4c4;
  font-size: 2.4rem;
  line-height: 150%;
}

.testimonial__name {
  color: #c4c4c4;
  font-size: 3.2rem;
  margin: 0;
  font-weight: bold;
}

.testimonial__title {
  color: #c4c4c4;
  margin: 0.5rem 0 3rem 0;
}

.fill--light {
  fill: var(--color-body-light);
}

.fill--light-grey {
  fill: #c4c4c4;
}

.profile--large {
  position: relative;
  bottom: 0;
}

.large-profile-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.plans {
  padding: 10rem 0;
}

@media screen and (min-width: 700px) {
  .plans-grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
}

@media screen and (min-width: 1100px) {
  .plans-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .testimonial {
    padding: 15rem 0;
  }

  .testimonial__wrap {
    display: flex;
    justify-content: space-between;
  }
  .large-profile-wrap {
    width: 30%;
  }

  .testimonial-content-wrap {
    width: 60%;
  }
}

@media screen and (min-width: 320px) {
  .testimonial {
    padding: 8rem 0;
  }
}

/* Footer */

.footer {
  padding: 2.4rem 0;
  margin-top: 4rem;
  background-color: var(--color-body);
}
.footer-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1100px) {
  .footer-items {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.social-footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  margin-bottom: 2.4rem;
  color: var(--color-body-light);
}

@media screen and (min-width: 1100px) {
  .social-footer-wrap {
    flex-direction: row;
    justify-content: space-between;
  }

  .copyright {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
}

.social-icons-caption {
  margin-right: 3rem;
  color: var(--color-body-light);
}
