:root {
  --color-primary: #0a6f74;
  --color-secondary: #db5028;
  --color-accent: #fbbc09;
  --color-headings: #00586e;
  --color-body: #2e282a;
  --color-body-light: #f0efea;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 2.4rem;
  padding: 10rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  font-size: 2.4rem;
}

.subtitle {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-primary);
  text-transform: uppercase;
}

.small-text {
  font-size: 1.8rem;
}

/* Buttons */

.btn {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1.5rem 6rem;
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  color: var(--color-body);
  text-decoration: none;
  letter-spacing: 1px;
}

.btn:hover {
  border: 2px solid var(--color-body);
  color: var(--color-body--dark);
  background-color: transparent;
}

/* Icons */

.icon-social {
  height: 32px;
  width: 32px;
  margin-right: 20px;
}

.icon-company {
  width: 100%;
  max-width: 100px;
  height: 100%;
  max-height: 30px;
}

/* Navigation */
.nav {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.8rem 2rem;
}

.list {
  list-style: none;
  padding: 0;
}

.nav__list {
  width: 100%;
  margin: 0;
  align-items: center;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222222;
}

.nav__item > a {
  color: var(--color-body-light);
  text-decoration: none;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__item {
    border-bottom: none;
  }

  .nav__item + .nav__item {
    margin-left: 2rem;
  }

  .nav__list {
    width: auto;
    display: flex;
    max-height: 100%;
    opacity: 1;
  }
}

/* Cards */

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card__header {
  position: relative;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: var(--color-body-light);
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: var(--color-body-light);
}

/* Plans */

.plan__name {
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0;
}

.plan__price {
  font-size: 3.6rem;
}

.plan__billing-cycle {
  font-weight: bold;
}

.plan__short-description {
  margin: 0 0 1.6rem 0;
}

.plan__feature {
  margin: 2rem 0;
  font-size: 1.8rem;
}

.plan__popular-badge {
  padding: 1.6rem 1rem;
  background-color: var(--color-accent);
  color: var(--color-body);
  text-transform: uppercase;
  position: absolute;
  width: 200px;
  top: 0;
  right: 0;
}

.plan__popular-badge-text {
  font-size: 1.6rem;
  margin: 0;
  text-align: center;
}

/* Profiles */

.profile {
  width: 280px;
  height: 200px;
  position: relative;
  border-radius: 7px;
}

.background--primary {
  background-color: var(--color-primary);
}

.background--secondary {
  background-color: var(--color-secondary);
}

.background--light {
  background-color: var(--color-body-light);
}

.profile__image {
  position: absolute;
  width: 280px;
  height: 280px;
  bottom: 0;
}

.profile__image--large {
  position: absolute;
  width: 368px;
  height: 368px;
  bottom: 0;
}

.profile--large {
  width: 368px;
  height: 250px;
  position: relative;
  border-radius: 7px;
}

/* Grids */

.grid {
  display: grid;
  row-gap: 3rem;
}

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
  }
}
