<nav class="nav collapsible">
  <a href="#"
    ><svg class="icon-company">
      <use xlink:href="images/sprite.svg#mira"></use></svg
  ></a>
  <svg class="icon-social nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="">Features</a></li>
    <li class="nav__item"><a href="">Plans</a></li>
    <li class="nav__item">
      <a href=""><div class="btn">Get Started</div></a>
    </li>
  </ul>
</nav>
