<div style="width: 30%">
  <div class="plan">
    <div class="card card--secondary">
      <header class="card__header">
        <h3 class="plan__name">Pro</h3>
        <p class="plan__short-description">For hardcore teams</p>
        <span class="plan__price">$20</span>
        <span class="plan__billing-cycle">/month</span>
      </header>
      <div class="card__body">
        <ul class="list">
          <li class="plan__feature">Awesome project management tool</li>
          <li class="plan__feature">Awesome project management tool</li>
          <li class="plan__feature">Awesome project management tool</li>
          <li class="plan__feature">Awesome project management tool</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Plan With Badge -->

<div style="width: 30%">
  <div class="plan">
    <div class="card card--secondary">
      <header class="card__header">
        <h3 class="plan__name">Pro</h3>
        <p class="plan__short-description">For hardcore teams</p>
        <span class="plan__price">$20</span>
        <span class="plan__billing-cycle">/month</span>
        <div class="plan__popular-badge">
          <p class="plan__popular-badge-text">Most popular</p>
        </div>
      </header>
      <div class="card__body">
        <ul class="list">
          <li class="plan__feature">Awesome project management tool</li>
          <li class="plan__feature">Awesome project management tool</li>
          <li class="plan__feature">Awesome project management tool</li>
          <li class="plan__feature">Awesome project management tool</li>
        </ul>
      </div>
    </div>
  </div>
</div>
